<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tricentis Suite">
  <test name="Tricentis Regression 4.3">
    <classes>
      <class name="com.Tricentis.qa.testcases.extenterinsurantdata"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
